

#soldierpageButton {
    background-color: #e7e7f3;
    color: #0e0e1b;
    margin: 5px;
}

#homepageButton {
    background-color: #1414b8;
    color: #f8f8fc;
    margin: 5px;
}

@media (max-width:1000px) {
    #confirmationContainer {
        text-align: center;
        padding: 5px;
    }

}