
.navContainer {
    display: flex;
    width: 90vw;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
    background-color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 7px;

}

#startButton {
    background-color: #607afb;
    color: #f8f9fc;
    font-size: 10px;
    visibility: hidden;
    width:0px;
}

.logoDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navTitle {
    color: black;
    font-size: larger;
    font-weight: bolder;
    margin-right: 8px;
    margin-left: 3px;
}

#navAbout {
    color: black;
    font-size: small;
    font-weight: bold;
    margin-left: auto;
}

@media(min-width:1024px) {
    #startButton {
        font-size: 15px;
        visibility: visible;
        width: auto;
    }

    .logoDiv {
        width: auto;
    }

    #navTitle {
        margin-right: 5vw;
        margin-left: 10px;
    }

    #navAbout {
        margin-left: 0px;
    }
}